<div class="wrapper">

            <header class="main-header">
              <!-- Logo -->
              <a href="index2.html" class="logo"><b>HARDWERA</b></a>
              <!-- Header Navbar: style can be found in header.less -->
              <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                  <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                  <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->

                    <!-- Notifications: style can be found in dropdown.less -->

                    <!-- Tasks: style can be found in dropdown.less -->

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>Shashi <i class="caret"></i></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li class="user-footer">
                          <div>
                            <a href="login.html"><i class="fa fa-gear"></i>
                              <span>&nbsp;Settings</span></a>
                            </div>
                          </li>
                          <li class="user-footer">
                            <div>
                              <a href="login.html"><i class="fa fa-sign-out"></i>
                                <span>&nbsp;Sign out</span></a>
                              </div>
                            </li>
                          </ul>              </li>
                        </ul>
                      </div>
                    </nav>
                  </header>
                  <!-- Left side column. contains the logo and sidebar -->
                  <aside class="main-sidebar">
                    <!-- sidebar: style can be found in sidebar.less -->
                    <section class="sidebar">
                      <!-- Sidebar user panel -->
                      <!-- search form -->
                      <!-- /.search form -->
                      <!-- sidebar menu: : style can be found in sidebar.less -->
                      <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="active">
                          <a href="index.html">
                            <i class="fa fa-dashboard"></i>
                            <span>&nbsp;Dashboard</span>
                          </a>
                        </li>
                        <li>
                          <a href="category.html">
                            <i class="fa fa-th"></i>
                            <span>&nbsp;Categories</span>
                          </a>
                        </li>
                        <li>
                          <a href="product.html">
                            <i class="fa fa-wrench"></i>
                            <span>&nbsp;Products</span>
                          </a>
                        </li>
                        <li>
                          <a href="order.html">
                            <i class="fa fa-pencil-square-o"></i>
                            <span>&nbsp;Orders</span>
                          </a>
                        </li>
                        <li>
                          <a href="user.html">
                            <i class="fa fa-users"></i>
                            <span>&nbsp;Users</span>
                          </a>
                        </li>

                      </ul>
                    </section>
                    <!-- /.sidebar -->
                  </aside>

                  <!-- Right side column. Contains the navbar and content of the page -->
                  <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                      <h1>
                        Dashboard
                      </h1>
                    </section>

                    <!-- Main content -->
                    <section class="content">
                      <!-- Small boxes (Stat box) -->
                      <div class="row">
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>150</h3>
                              <p>New Orders</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-green">
                            <div class="inner">
                              <h3>53<sup style="font-size: 20px">%</sup></h3>
                              <p>Bounce Rate</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-yellow">
                            <div class="inner">
                              <h3>44</h3>
                              <p>User Registrations</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-person-add"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-red">
                            <div class="inner">
                              <h3>65</h3>
                              <p>Unique Visitors</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div><!-- ./col -->
                      </div><!-- /.row -->
                      <!-- Main row -->
                      <!-- /.row (main row) -->

                    </section><!-- /.content -->
                  </div><!-- /.content-wrapper -->
                  <footer class="main-footer">
                    <div class="pull-right hidden-xs">
                      <b>Version</b> 2.0
                    </div>
                    <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
                  </footer>
                </div>